@import "imports/variables.css";
@import "imports/structure.css";
@import "imports/media.css";

h1 {
    font-size: clamp(1.4em, 2.5vw, 1.8em);
    padding: 0;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error_message {
    color: darkred;
    font-size: 30px;
    text-decoration:underline;
    text-transform: uppercase;
    max-width: 500px;
}

.loading {
    height: 80px;
    width: 80px;
    border: 20px dashed var(--cta-hover);
    border-radius: 50%;
    animation: spin 1.8s ease-in infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


.fa-circle-xmark {
    display: none;
}

.movie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: clamp(350px, 10vw, 400px);
    gap: 5rem;
    max-width: 70%;
    margin: 50px auto;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 auto;
}

.cta {
    font-family: var(--cta-font);
    font-size: 20px;
    color: var(--dark-colour);
    border: 2px solid;
    border-radius: 10px;
    background-color: var(--cta-colour);
    padding: 10px 65px;
    margin: 0 auto;
}

.cta:hover {
    background-color: var(--cta-hover);
    color: var(--dark-colour);
    border: 2px solid transparent;
    filter: drop-shadow(5px 5px 5px var(--dark-colour));
    margin: 0 auto;
    padding: 10px 65px ;
    cursor: pointer;
}

.log a {
    color: var(--dark-colour);
}

.log a:hover {
    color: var(--body-text);
}

.details {
    display: flex;
    justify-content: space-evenly;
    font-size: clamp(10px, 1vw, 12px);
    align-content: center;
    gap: 10%;
    margin-top: 20px;
}

.movie-icons {
    display: flex;
    gap: 50%;
    justify-content: center;
}

.fa-plus,
.fa-star {
    font-size: clamp(35px, 5vw + 2px, 50px);
}

.poster-img {
    width: clamp(160px, 20vw, 230px);
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 30px 10%;
    gap: 3rem;
    max-width: 80%;
}

.description p {
    font-size: 1em
}

.next {
    margin-left: 10%;
    margin-bottom: 20px;
}

.choice {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.options {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: clamp(90px, 13vw, 120px);
    gap: 1rem;
    align-items: center;
    padding-left: clamp(60px, 10vw, 130px);
    margin-bottom: 25px;
    width: 80%;
    overflow-x: auto;
}

.img {
    border-radius: 0.8em;
    width: 100%;
}

@media (max-width:810px) {
    .movie {
        display: flex;
        flex-direction: column-reverse;
        gap: 20%;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }

   .text {
        gap: 1rem;
        margin-top: 10%;
    }
    
    .cta {
        margin: 0 10%;
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 20px au;
    }

    .movie-icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width:750px) {
    .cta {
        font-size: 1.1em;
        padding: 10px 45px;
    }
}

@media (max-width:650px) {
    .crop__img {
        max-height: 146px;
    }

    .star {
        display: block;
    }
}

@media (max-width:550px) {
    .poster {
        display: grid;
        grid-template-columns: 180px 35px 30px;
        grid-template-rows: 237px 30px;
        margin-left: 30px;
    }

    .poster-img {
        grid-row: span 2;
        filter: drop-shadow(5px 5px 5px var(--dark-colour));
        margin: 0 13%;
    }

    .text h1 {
        margin: 0 auto;
        padding: 0;
    } 

    .details {
        font-size: clamp(10px, 1vw, 12px);
    }

    .cta {
        font-size: 20px;
    }
}

@media (max-width:430px) {
    body {
        display: grid;
        grid-template-rows: 100px auto 80px;
        max-width: 100%;
    }

    main {
        gap: 2rem;
    }

    header,
    footer {
        display: none;
    }
      
    .fa-circle-xmark {
        display: block;
        grid-column-start: 3;
        margin-top: 10px;
        margin-left: 18px;
    }

    .description {
        padding: 0;
        margin-top: 10px;
    }
}

@media (max-width:320px) {
    .poster {
        margin-top: 20px;
    }

    .cta {
        padding: 10px 25px;
    }

    .text {
        margin: 0;
    }
    
    .movie-icons {
        gap: 4rem;
    }

    .description {
        width: 80%;
    }
}