@import "imports/variables.css";
@import "/css/form.css";
@import "imports/structure.css";
@import "imports/media.css";

header,
footer {
    filter: none;
}

header {
    background: var(--background);
}

.logo {
    width: clamp(120px, 20vw, 150px);
}

.fa-user {
   margin: 0;
}

@media (max-width:430px) {
    .fa-user {
        display: block;
    }

}