@import "imports/variables.css";

body {
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    color: var(--cta-colour);
    font-size: 2em;
    margin: 20px;
}

.fa-circle-play {
    font-size: 5em;
}

.fa-brands {
    display: none;
}

.streaming {
    margin-top: 50px;
    display: grid;
    width: clamp(765px, 100vw, 1070px);
    height: clamp(320px, 100vw, 492px);
    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: 70px 90% 70px;
}

img {
    width: clamp(765px, 100vw, 1070px);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.fa-fa-circle-xmark a {
    grid-column-start: 3;
    grid-row-start: 1;
}

.fa-circle-play {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-expand {
    grid-column-start: 3;
    grid-row-start: 3;
}

@media (max-width:1050px) {
    body {
        padding: 0;
        margin: 0;
        display: block;
    }

    .streaming {
        margin-top: 30px;
        grid-template-rows: 70px 85% 70px;
    }
}

@media (max-width:950px) {
    .streaming {
        grid-template-rows: 70px 75% 70px;
    }
}

@media (max-width:900px) {
    .streaming {
        grid-template-rows: 70px 70% 70px;
    }
}

@media (max-width:850px) {
    .streaming {
        grid-template-rows: 70px 65% 70px;
    }
}

@media (max-width:770px) {
    .streaming {
        grid-template-rows: 70px 60% 70px;
    }
}

@media (max-width:750px) {
    body {
        margin-top: 165px;
        margin-left: -40px;
    }

    .streaming {
       transform: rotate(90deg);
       margin: 0px;
    }
}

@media (max-width:700px) {
    body {
        margin-left: -75px;
    }
}

@media (max-width:650px) {
    body {
        margin-left: -95px;
    }
}

@media (max-width:600px) {
    body {
        margin-left: -115px;
    }
}

@media (max-width:550px) {
    body {
        margin-left: -135px;
    }
}

@media (max-width:500px) {
    body {
        margin-left: -165px;
    }
}

@media (max-width:430px) {
    body {
        margin-top: 168px;
        margin-left: -168px;
    }
    .fa-brands {
        display: block;
    }

    .fa-expand {
        display: none;
    }

    .streaming {
       transform: rotate(90deg);
    }

    .streaming,
    img {
        height: clamp(320px, 100vw, 430px);
    }

    .streaming {
        padding: 0;
        grid-template-columns: 70px 1fr 70px;
        grid-template-rows: 70px 90% 70px;
    }

    .fa-brands {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    a {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    img {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}


@media (max-width:410px) {
    img,
    .streaming {
        width: 746px;
    }

    .streaming {
        grid-template-rows: 70px 80% 70px;
    }
}

@media (max-width:390px) {
    img,
    .streaming {
        width: 726px;
    }

    .streaming {
        grid-template-rows: 70px 70% 70px;
    }
}

@media (max-width:370px) {
    img,
    .streaming {
        width: 705px;
    }

    .streaming {
        grid-template-rows: 70px 60% 70px;
    }
}

@media (max-width:350px) {
    img,
    .streaming {
        width: 685px;
    }

    .streaming {
        grid-template-rows: 70px 50% 70px;
    }
}


@media (max-width:320px) {
    img,
    .streaming {
        width: 655px;
    }

    .streaming {
        grid-template-rows: 70px 35% 70px;
    }
}