@import "imports/variables.css";

h2, 
ul {
    font-family: var(--heading-link), Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-colour);
}

h2 {
    font-size: 1.2em;
    margin: 10px;
    padding: 30px 0px 5px 100px;
}

.fa-regular,
.fa-solid {
    font-size: clamp(20px, 10vw + 2px, 30px);
    cursor: pointer;
}

body {
    background-color: var(--background);
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr 150px;
}

.fa-solid,
.fa-regular {
    color: var(--cta-colour);
}

.home,
.bars,
.nav-menu {
    display: none;
}

.menu ul {
    display: flex;
    gap: 1rem;
}

.menu li {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0px 60px;
}

nav li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--text-colour);
}

.colour {
    color: var(--cta-colour);
}

.active {
    text-decoration: underline;
}

.icons {
    display: flex;
    gap: 3rem;
    padding: 0px 50px 0px 0px;
    height: 39px;
} 

.user-menu__nav,
.user-menu {
    display: none;
}

.user-menu:checked ~ nav {
    display: block;
}

.user-menu__nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    color: var(--text-colour);
    position: relative;
    left: -110px;
    top: 33px;
    height: 116px;
    padding: 0px 20px;
    border-radius: 0px 10px 10px 10px;
    gap: 0.5rem;
}

.continue,
.options {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 10px;
    padding: 10px 0px 0px 130px;
}

.shadow-drop {
    font-size: 1.5em;
    text-shadow: 5px 5px 5px var(--dark-colour);
}

footer {
    background-color: white;
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    margin: 40px 0px 0px 0px;
}

.casting {
    display: none;
}

.menu__footer ul {
    display: flex;
    justify-content: space-evenly;
}

.menu__footer li{
    font-size: 1em;
    }

.colour__footer {
    color: var(--dark-colour);
}

/* Images */
.logo {
    width: 150px;
}

.continue-size {
    width: 100px;
    filter: drop-shadow(5px 5px 5px var(--dark-colour));
}

.continue__img,
.continue-crop__img,
.crop__img,
.img {
    border-radius: 0.8em;
    width: 100%;
}

.continue__img,
.continue-crop__img {
    height: 150px;
}

.continue-crop__img,
.crop__img {
    object-fit: cover;
}

.options-size {
    width: 80px;
}

.crop__img {
    height: 118px; 
}

.logo__footer {
    width: 180px;
    padding: 0px 50px;
}

/* Home page */
.promotion {
    margin: 20px auto;
    max-width: clamp(250px, 99vw, 800px);
    overflow: hidden;
}

.images {
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
}

.images img {
    height: 100%;
    width: clamp(250px, 99vw, 800px);
    border-radius: 20px;
    transition: all 0.3s ease;
}

.images input {
    display: none;
}

.navigation-manual {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.navigation-manual label {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid var(--text-colour) 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

.navigation-manual label:hover {
    background: var(--text-colour);
}

#image1:checked ~ .img1 {
    margin-left: 0;
}

#image2:checked ~ .img2 {
    margin-left: -100%;
}

#image3:checked ~ .img3 {
    margin-left: -200%;
}