@import "imports/variables.css";
@import "imports/structure.css";
@import "imports/media.css";

h2 {
    font-size: clamp(1.3em, 2.5vw, 1.8em);
    margin: 10px;
    padding-left: clamp(60px, 10vw, 100px);
}

.error_message {
    color: darkred;
    font-size: 30px;
    text-decoration:underline;
    text-transform: uppercase;
    max-width: 500px;
}

.loading {
    height: 100px;
    width: 100px;
    border: 20px dashed var(--cta-hover);
    border-radius: 50%;
    animation: spin 1.8s ease-in infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.shadow-drop {
    font-size: clamp(1.4em, 2.5vw, 2em);
    text-shadow: 5px 5px 5px var(--dark-colour);
}

.continue,
.options {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding-left: clamp(60px, 10vw, 130px);
    margin-bottom: 25px;
}

.continue {
    grid-auto-columns: clamp(140px, 15vw, 200px);
    gap: 7%;
}

.options {
    grid-auto-columns: clamp(120px, 13vw, 170px);
    gap: 3%;
}

/* Images */
.continue,
.options {
   width: 70%;
   overflow-x: auto;
}

.continue__img,
.img {
    border-radius: 0.8em;
    width: 100%;
}

.continue__img {
    filter: drop-shadow(15px 5px 5px var(--dark-colour));
    padding: 10px;
    border-radius: 1.5em;
}

.img {
    max-height: 241px;
    min-height: 178px;
}

/* Home page */
.promotion {
    margin: 10% auto;
    max-width: clamp(150px, 99vw, 500px);
    overflow: hidden;
}

.images {
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
}

.images img {
    height: 100%;
    width: clamp(150px, 99vw, 500px);
    border-radius: 20px;
    transition: all 0.3s ease;
}

.images input {
    display: none;
}

.navigation-manual {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.navigation-manual label {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid var(--text-colour) 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

.navigation-manual label:hover {
    background: var(--text-colour);
}

#image1:checked ~ .img1 {
    margin-left: 0;
}

#image2:checked ~ .img2 {
    margin-left: -100%;
}

#image3:checked ~ .img3 {
    margin-left: -200%;
}

@media (max-width:430px) {
    .promotion {
        margin: 0;
    }
}

@media (max-width:350px) {
    .options,
    .continue {
        max-width: 250px;
    }
}
