@media (max-width:950px) {    
    header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .icons {
        grid-column-start: 4;
    }

    .user-menu__nav li {
        font-size: 1.1em;
    }

    .user-menu ul {
        position: relative;
        left: -100px;
        top: 22px;
        background-color: var(--background);
        height: 94.5px;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 0px 20px 0px 0px;
        font-size: 0.9em;
        height: 100px;
    }

    .continue-crop__img,
    .crop__img {
        max-height: 190px;
    }

    .crop__img {
        max-height: 143px;
    }

    footer {
        background-color: white;
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: center;
        margin-top: 40px;
    }

    .logo__footer {
        padding: 0px 30px;
    }
    
    .menu__footer ul {
        display: flex;
        gap: 3rem;
    }
}

@media (max-width:810px) {
    header, 
    footer {
        filter: none;
    }

    .menu__footer ul {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin: o;
    }
}

@media (max-width:710px) {
    .menu__footer ul {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:430px) {
    body {
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 150px 1fr 80px;
        max-width: 430px;
        margin: 0;
    }

    header {
        grid-row-start: 3;
        background: rgba(1, 38, 38, .7);
        color: var(--cta-colour) 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-height: 80px;
        max-width: 430px;
    }
    
    .bars,
    .home,
    .casting {
        display: block;
    }

    .logo,
    .menu,
    .menu__footer {
        display: none;
    }

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 7rem;
        grid-column-start: 1;
        padding: 0px 50px;
    }
    
    .user-menu__nav li {
        font-size: 1.1em;
        gap: 2rem;
    }

    .mobile {
        display: flex;
        gap: 7rem;
    }

    .casting {
        color: var(--dark-colour);
        font-size: 1.5em;
        padding-right: 10%;
    }

    .continue-crop__img,
    .crop__img {
        max-height: 178px;
    }

    .crop__img {
        max-height: 133px;
    }

    footer {
        grid-row-start: 1;
        max-height: 100px;
        max-width: 430px;
        margin: 0;
        padding: 0;
    }

    .logo__footer {
        max-width: 100px;
    }
}