:root {
    --text-colour: #FEF8DF;
    --cta-colour: #D0D1B8;
    --cta-hover: #FFD300;
    --background: #3E696D;
    --dark-colour: #012626;

    --cta-font: 'Monda';
    --body-text: 'Fraunces';
    --heading-link: 'Outfit';
}
